[submodule "third_party/pybind11-2.5.0"]
	path = third_party/pybind11-2.5.0
	url = https://github.com/pybind/pybind11.git
[submodule "understand_reference_in_cmake/recepi_01/third_party/pybind11-2.5.0"]
	path = understand_reference_in_cmake/recepi_01/third_party/pybind11-2.5.0
	url = https://github.com/pybind/pybind11.git
[submodule "understand_reference_in_cmake/recepi_03/recepi_03_b (copy)/third_party/pybind11-2.6.2"]
	path = understand_reference_in_cmake/recepi_03/recepi_03_b (copy)/third_party/pybind11-2.6.2
	url = https://github.com/pybind/pybind11.git
[submodule "understand_reference_in_cmake/recepi_01/third_party/pybind11-2.6.2"]
	path = understand_reference_in_cmake/recepi_01/third_party/pybind11-2.6.2
	url = https://github.com/pybind/pybind11.git
[submodule "00_use_pybind11/third_party/pybind11-2.6.2"]
	path = 00_use_pybind11/third_party/pybind11-2.6.2
	url = https://github.com/pybind/pybind11.git
